body {
    padding: 10px;
    height: 200px;
    width: 200px;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background-color: #fafafa;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'sofiapro-light', Arial, sans-serif;
    font-weight: normal;
  }

  a {
    color: #0088cc;
    text-decoration: none;
    cursor: pointer;
  }
  
  input {
    padding: 5px;
    font-size: 1.1em;
    margin-right: 5px;
  }
  
  
  button {
    color: #fff;
    height: 32px;
    background-color: #4089ca;
    border-color: #3782c6;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
  }

  button.reset {
    border: none;
    background-color: #cf4b59;
    width: 100%;
  }

  @font-face {
    font-family: 'sofiapro';
    src: url("/type/sofiaproregular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'sofiapro-light';
    src: url("/type/sofiaprolight.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  